Makefile
        Makefile~
	        main_test
		        main_test.c
			        main_test.c~
				        main_test.o
					        test.txt

c4prj2_input/Makefile
c4prj2_input/Makefile~
	        c4prj2_input/main_test
		        c4prj2_input/main_test.c
			        c4prj2_input/main_test.c~
				        c4prj2_input/main_test.o
					        c4prj2_input/test.txt